@mixin styles {
  color-scheme: dark;

  /* Framework color */
  --main-bg: #24273a; /* base */
  --mask-bg: #1e2030; /* mantle */
  --main-border-color: #b7bdf8; /* lavender */

  /* Common color */
  --text-color: #cad3f5;
  --text-muted-color: #a5adcb;
  --text-muted-highlight-color: #939ab7;
  --heading-color: #b7bdf8; /* lavender */
  --label-color: #f5bde6; /* pink */
  --blockquote-border-color: #5b6078; /* surface2 */
  --blockquote-text-color: #a5adcb;
  --link-color: #8aadf4;
  --link-underline-color: #7dc4e4;
  --button-bg: #1e2030;
  --btn-border-color: #363a4f; /* surface0 */
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: #494d64; /* surface1 */
  --card-header-bg: #363a4f;
  --checkbox-color: #939ab7;
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(circle, #1e2030 0%, #24273a 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(109, 110, 134, 0.2) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Sidebar */
  --site-title-color: #b7bdf8;
  --site-subtitle-color: #a5adcb;
  --sidebar-bg: #1e2030;
  --sidebar-border-color: #494d64;
  --sidebar-muted-color: #a5adcb;
  --sidebar-active-color: #cad3f5;
  --sidebar-hover-bg: #363a4f;
  --sidebar-btn-bg: #1e1e2e;
  --sidebar-btn-color: #939ab7;
  --avatar-border-color: rgba(202, 211, 245, 0.8);

  /* Topbar */
  --topbar-bg: rgba(36, 39, 58, 0.64);
  --topbar-text-color: var(--text-color);
  --search-border-color: #494d64;
  --search-icon-color: #a5adcb;
  --input-focus-border-color: #8aadf4;

  /* Home page */
  --post-list-text-color: var(--text-color);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: #363a4f;

  /* Posts */
  --toc-highlight: #8aadf4;
  --toc-popup-border-color: #5b6078;
  --tag-hover: #494d64;
  --tb-odd-bg: #1e1e2e;
  --tb-even-bg: #1e2030;
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: #8aadf4;
  --btn-share-color: #939ab7;
  --btn-share-hover-color: #b7bdf8;
  --card-bg: #24273a;
  --card-hovor-bg: #363a4f;
  --card-shadow: rgba(21, 21, 21, 0.72) 0 6px 18px 0,
                  rgba(137, 135, 135, 0.24) 0 0 0 1px;
  --kbd-wrap-color: #6e738d;
  --kbd-text-color: #cad3f5;
  --kbd-bg-color: #1e2030;
  --prompt-text-color: rgba(202, 211, 245, 0.75);
  --prompt-tip-bg: rgba(166, 227, 161, 0.2);
  --prompt-tip-icon-color: #a6da95;
  --prompt-info-bg: rgba(138, 173, 244, 0.2);
  --prompt-info-icon-color: #8aadf4;
  --prompt-warning-bg: rgba(238, 212, 159, 0.2);
  --prompt-warning-icon-color: #eed49f;
  --prompt-danger-bg: rgba(237, 135, 150, 0.2);
  --prompt-danger-icon-color: #ed8796;

  /* Tags */
  --tag-border: #5b6078;
  --tag-shadow: #1e2030;
  --dash-color: #6e738d;
  --search-tag-bg: #494d64;

  /* Categories */
  --categories-border: rgba(91, 96, 120, 0.5);
  --categories-hover-bg: #363a4f;
  --categories-icon-hover-color: white;

  /* Archive */
  --timeline-node-bg: #a5adcb;
  --timeline-color: #6e738d;
  --timeline-year-dot-color: var(--timeline-color);

  /* Code highlight colors */
  --language-border-color: #494d64;
  --highlight-bg-color: #1e2030;
  --highlighter-rouge-color: #cad3f5;
  --highlight-lineno-color: #5b6078;
  --inline-code-bg: rgba(202, 211, 245, 0.05);
  --code-color: #cad3f5;
  --code-header-text-color: #a5adcb;
  --code-header-muted-color: #6e738d;
  --code-header-icon-color: #b7bdf8;
  --clipboard-checked-color: #a6da95;
  --filepath-text-color: #f4dbd6;

  .light {
    display: none;
  }
}
